<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% extends 'games/base.html' %}

</head>
<body>
{% block body %}
<div id="wholePage">

    <h1>{{ game.name }}</h1>
    <h3>{{ game.name }}</h3>

    {% if errorMessage %}
        <p>{{ errorMessage }}</p>
    {% endif %}

    <!-- Where to send album data to -->
    {% csrf_token %} <!--Security-->
    {% for genre in game.genres_set.all %}
        <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ genre.id }}"/>

        <label for="genre{{ forloop.counter }}">
            {{ genre.name }}
        </label><br>

    {% endfor %}

</div>
{% endblock %}
</body>
</html>