<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% extends 'games/base.html' %}

</head>
<body>
{% block body %}
<div id="wholePage">

    <h1>{{ game.name }}</h1>
    <h3>{{ game.developer }}</h3><br>
    <img src="{{ game.image }}"><br><br>
    <p>{{ game.description }}</p>
    <p>Release Date: {{ game.release_date }}</p>
    <p>Metacritic:
    {% if game.metacritic == 0 %}
            N/A
    {% else %}
        {{ game.metacritic }}
    {% endif %}
    </p>
    <p>Genres:
    {% for gen in game.genres.all %}
        {{ gen }},
    {% endfor %}
    </p>
    <p><a href="{{ game.steam }}">Steam Page</a></p><br><br>

    {% comment %}<iframe
    src="https://clips.twitch.tv/embed?clip={{  }}" <!--Clip url, e.g. EmpathicAwkwardPorcupineGingerPower-->
    height="720" width="1280"
    frameborder="0" scrolling="no" allowfullscreen="true">
    </iframe>{% endcomment %}


    {% if errorMessage %}
        <p>{{ errorMessage }}</p>
    {% endif %}

</div>
{% endblock %}
</body>
</html>