<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Favourites</title>
    {% extends 'games/base.html' %}
</head>
<body>

{% block body %}
<div class="content-section">
<div>
<h1>Favourite Genres</h1>
<br>
{% if genre_list %}

<h3>Please select your 3 favourite genres</h3>

<!--3 dropdown boxes are created and filled with all of the game's genres, when a genre is selected
    the value is stored in p tag below as a variable.-->
<select id="genres1" required="required" onchange="selectedValueGenre1()">
    <option selected="selected">Please select a genre</option>
    {% for genre1 in genre_list %}
        <option value="{{ genre1 }}">{{ genre1 }}</option>
    {% endfor %}
</select>

<br>

<select id="genres2" required="required" onchange="selectedValueGenre2()">
    <option selected="selected">Please select a second genre</option>
    {% for genre2 in genre_list %}
        <option value="{{ genre2 }}">{{ genre2 }}</option>
    {% endfor %}
</select>

<br>

<select id="genres3" required="required" onchange="selectedValueGenre3()">
    <option selected="selected">Please select a third genre</option>
    {% for genre3 in genre_list %}
        <option value="{{ genre3 }}">{{ genre3 }}</option>
    {% endfor %}
</select>

<!--By default these p tags are hidden because they act as variables for the javascript functions,
    each of the 'selected' p tags will change once a genre is chosen from each dropdown box, if any
    of them are still A, B or C upon submission, submission will fail.-->
<p id="selected1" hidden="hidden">A</p>
<p id="selected2" hidden="hidden">B</p>
<p id="selected3" hidden="hidden">C</p><br>

<!--Clicking this button will send a query to update the 3 selected genre values on the user's profile,
    otherwise the page will refresh as it will not be successful (as they will not have selected all 3.)-->
<form action="javascript:document.location.href=setAction({{ user.id }})">
    <button type="submit" class="btn btn-primary btn-lg">Submit Favourites</button>
</form>

{% else %}
    <p>Error! Please report this to Stuart.</p>
{% endif %}

</div>
</div>
{%  endblock %}

</body>
</html>