<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Genre Search Results</title>
    {% extends 'games/base.html' %}

</head>
<body>

{%  block body %}
<div class="content-section">
<div>

<h1>Genre Search Results</h1>

<!--If the list of games exists, create a table and populate each row with a game-->
{% if game_list %}
<div class="table-responsive">

    <table class="table">
        <!--Sets up headings-->
        <thead class="thead-dark">
        <tr>
          <th scope="col" style="width: 40%" class="d-none d-xl-table-cell">Image</th>
          <th scope="col" style="width: 20%">Title</th>
          <th scope="col" style="width: 10%" class="d-none d-md-table-cell">Developer</th>
          <th scope="col" style="width: 10%">Metacritic</th>
          <th scope="col" style="width: 20%">More Details</th>
        </tr>
        </thead>

        {% for game in game_list %}
        <tbody>
        <tr>
            <td class="align-middle d-none d-xl-table-cell"><img src="{{ game.image }}"></td>
            <td class="align-middle">{{ game.name }}</td>
            <td class="align-middle d-none d-md-table-cell">{{ game.developer }}</td>

            {% if game.metacritic == 0 %}
                <td class="align-middle">N/A</td>
            {% else %}
                <td class="align-middle">{{ game.metacritic }}</td>
            {% endif %}

            <!--The detail page requires a game ID as part of its URL, this grabs the game that is selected's ID-->
            <td class="align-middle"><a href="{% url 'games:detail' game.id %}">Click for more details</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% else %}
    <p>No games found!</p>
{% endif %}
</div>
</div>
{%  endblock %}

</body>
</html>