<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Games</title>
    {% extends 'games/base.html' %}

</head>
<body>

{%  block body %}
<div>

<form action="{% url 'all-alphabetical' %}">
    <button type="submit" class="btn btn-primary btn-lg btn-block">Recommended For You (Alphabetically)</button>
</form>
    <form action="{% url 'all-alphabetical' %}">
    <button type="submit" class="btn btn-primary btn-lg btn-block">Genre Search (Alphabetically)</button>
</form>
<form action="{% url 'all-metacritic' %}">
    <button type="submit" class="btn btn-primary btn-lg btn-block">Title Search (By Rating)</button>
</form>
<form action="{% url 'all-alphabetical' %}">
    <button type="submit" class="btn btn-primary btn-lg btn-block">All Games (Alphabetically)</button>
</form>

</div>
{%  endblock %}



</body>
</html>