<title>My Profile</title>
{% extends 'games/base.html' %}

{% block body %}
<div class="content-section">
    <!--User doesn't need to be passed in as it will automatically use django's user variable-->
    <h1>Hello, {{ user.username }}</h1>
    <p>
    {{ user.first_name }} {{ user.last_name }}, your email address is {{ user.email }}
    </p>


    <h1>Preferences</h1>

    <table class="table">
    <!--Sets up headings-->
    <thead class="thead-dark">
        <tr>
          <th scope="col">Genre</th>
          <th scope="col">Score</th>
        </tr>
    </thead>

    <!--Goes through the user's preferences that are passed in from the view,
    orders them from highest to lowest, if they're not 0 then capitalise
    the genre's name and print it. COULD USE |RANDOM FOR SERENDIPITY-->
    {% for field, value in preferences.items|dictsortreversed:1 %}
        {% if value > 0 and field != 'id' and field != 'user' %}
            <tbody>
            <tr>
                <td class="align-middle">{{ field|capfirst }}</td>
                <td class="align-middle">{{ value }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
</div>
{%  endblock %}
