<title>My Profile</title>
{% extends 'games/base.html' %}

{% block body %}
<div class="content-section">
    <!--User doesn't need to be passed in as it will automatically use django's user variable-->
    <h1>Hello, {{ user.first_name }}</h1>
    <p>If you are no longer interested in a particular genre, or just want to stop being recommended games of this genre,
        select it from the dropdown box below and your preferences will be updated accordingly.</p>

    <i><strong>Feature coming soon.</strong></i>


{#    <h1>Preferences</h1>#}
{##}
{#    <table class="table">#}
{#    <!--Sets up headings-->#}
{#    <thead class="thead-dark">#}
{#        <tr>#}
{#          <th scope="col">Genre</th>#}
{#          <th scope="col">Score</th>#}
{#        </tr>#}
{#    </thead>#}
{##}
{#    <!--Goes through the user's preferences that are passed in from the view,#}
{#    orders them from highest to lowest, if they're not 0 then capitalise#}
{#    the genre's name and print it.-->#}
{#    {% for field, value in preferences.items|dictsortreversed:1 %}#}
{#        {% if value > 0 and field != 'id' and field != 'user' %}#}
{#            <tbody>#}
{#                <tr>#}
{#                    <td class="align-middle">{{ field|capfirst }}</td>#}
{#                    <td class="align-middle">{{ value }}</td>#}
{#                </tr>#}
{#            {% endif %}#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}
</div>
{%  endblock %}
