<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Recommended For You</title>
    {% extends 'games/base.html' %}

</head>
<body>

{%  block body %}
<div>

<h1>Recommended for you</h1>

{% if recommended_genres %}
    <h2>
        {% for genre in recommended_genres %}
            {{ genre }}
        {% endfor %}
    </h2>

{% if game_list %}
<table class="table">
    <!--Sets up headings-->
    <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Game</th>
      <th scope="col">Developer</th>
      <th scope="col">Metacritic</th>
      <th scope="col">Because You Like</th>
      <th scope="col">More Details</th>
    </tr>
    </thead>

    {% for game in game_list %}
    <tbody>
    <tr>
        <td><img src="{{ game.image }}"></td>
        <td>{{ game.name }}</td>
        <td>{{ game.developer }}</td>

        {% if game.metacritic == 0 %}
            <td>N/A</td>
        {% else %}
            <td>{{ game.metacritic }}</td>
        {% endif %}


        <!--Goes through each game's genres, when the current game has a genre which matches
            one or more of the user's preferred genres, then put this into the 'because
            you like' column to show which genres it is most applicable towards.-->
        {% if game.genres %}
            <td>
                {% for genre in game.genres.all %}
                    {% for likedGenre in recommended_genres %}
                        {% if likedGenre == genre %}
                            {{ likedGenre }} <br><br>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </td>
        {% else %}
            <td>N/A</td>
        {% endif %}


        <!--The detail page requires a game ID as part of its URL, this grabs the game that is selected's ID-->
        <td><a href="{% url 'games:detail' game.id %}">Click for more details</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>


{% else %}
    <p>No games found!</p>
{% endif %}
{% endif %}
</div>
{%  endblock %}



</body>
</html>