<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Recommended For You</title>
    {% extends 'games/base.html' %}

</head>
<body>

{%  block body %}
<div class="content-section">
<div>

<h1>Recommended for you</h1>

{% if recommended_genres %}
    {% if recommended_genres.0.name == "2D" and recommended_genres.1.name == "Action" and recommended_genres.2.name == "Adventure" %}
    <p>No preferences detected! Please help us identify the games you enjoy by following <a href="{% url 'home:favourites' %}">this link</a></p>

{% else %}

<h5>These recommendations are based off your preference of: {{ recommended_genres.0 }}, {{ recommended_genres.1 }} and {{ recommended_genres.2 }} games</h5>

{% if game_list %}

<div class="table-responsive">
    <table class="table table-bordered">
        <!--Sets up headings-->
        <thead class="thead-dark">
        <tr>
          <!--d-none means don't show at all, d-#-table-cell overrides this
              and means show this column on screen sizes of # and larger-->
          <th scope="col" class="align-middle d-none d-xl-table-cell" style="width: 33.33%">Image</th>
          <th scope="col" class="align-middle" style="width: 16.66%">Title</th>
          <th scope="col" class="align-middle d-none d-md-table-cell" style="width: 7.5%">Developer</th>
          <th scope="col" class="align-middle d-none d-sm-table-cell" style="width: 7.5%">Metacritic</th>
          <th scope="col" class="align-middle" style="width: 17.5%">Because You Like</th>
          <th scope="col" class="align-middle" style="width: 17.5%">More Details</th>
        </tr>
        </thead>

        <!--Loop through each recommended game-->
        {% for game in game_list %}
        <tbody>
        <tr>
            <!--Add the game's details-->
            <td class="align-middle d-none d-xl-table-cell"><img src="{{ game.image }}"></td>
            <td class="align-middle">{{ game.name }}</td>
            <td class="align-middle d-none d-md-table-cell">{{ game.developer }}</td>

            <!--As some games don't have a metacritic rating, in the database they are 0, so change 0 to N/A-->
            {% if game.metacritic == 0 %}
                <td class="align-middle">N/A</td>
            {% else %}
                <td class="align-middle d-none d-sm-table-cell">{{ game.metacritic }}</td>
            {% endif %}


            <!--Goes through each game's genres, when the current game has a genre which matches
                one or more of the user's preferred genres, then put this into the 'because
                you like' column to show which genres it is most applicable towards.-->
            {% if game.genres %}
                <td class="align-middle">
                    {% for genre in game.genres.all %}
                        {% for likedGenre in recommended_genres %}
                            {% if likedGenre == genre %}
                                {{ likedGenre }} <br><br>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </td>
            {% else %}
                <td class="align-middle">N/A</td>
            {% endif %}


            <!--The detail page requires a game ID as part of its URL, this grabs the game that is selected's ID-->
            <td class="align-middle"><a href="{% url 'games:detail' game.id %}">Click for more details</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% else %}
    <p>No games found!</p>
{% endif %}
{% endif %}
{% endif %}
</div>
</div>
{%  endblock %}



</body>
</html>