<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% extends 'games/base.html' %}

</head>
<body>

{% block body %}
<div class="content-section">
<div>

<h1>Thank you for submitting your favourite genres</h1>
<br>
<h4>Your user profile has been updated, this helps us better understand your preferences for future recommendations</h4>
<br><br>

<!--Menu options for the user to browse-->
<div class="row">
                <div id="column">
                    <form action="{% url 'genre-search' %}">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Search By Genre</button>
                    </form>
                </div>
                <div id="column">
                    <form action="{% url 'all-metacritic' %}">
                        <button type="submit" class="btn btn-danger btn-lg btn-block">All Games (By Rating)</button>
                    </form></div>
                <div id="column">
                    <form action="{% url 'all-alphabetical' %}">
                        <button type="submit" class="btn btn-dark btn-lg btn-block">All Games (A-Z)</button>
                    </form>
                </div>
            </div>
        </div>

</div>
</div>
{%  endblock %}

</body>
</html>